<p style="font-weight: bold; margin-top: 20px;">Add Post</p>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Post Title</label>
  <input class="form-control" id="exampleFormControlTextarea1" rows="3">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Post Text</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div>
  <label for="formFileLg" class="form-label">Large file input example</label>
  <input class="form-control form-control-lg" id="formFileLg" type="file">
</div>