<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    {{!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> --}}
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="http://www.coca.ir/wp-content/uploads/2017/07/beautiful-dream-nature-photos-1.jpg" style="height: 500px ; width: 800px;"  class="d-block w-100" alt="img1">
    </div>
    {{!-- <div class="carousel-item">
      <img src="../../public/img/aaa.jpg" class="d-block w-100" alt="img2">
    </div> --}}
    <div class="carousel-item">
      <img src="https://cdn.nody.ir/files/2021/09/10/nody-%D9%85%D9%86%D8%A7%D8%B8%D8%B1-%D8%B2%DB%8C%D8%A8%D8%A7%DB%8C-%D8%B7%D8%A8%DB%8C%D8%B9%D8%AA-%D8%AC%D9%87%D8%A7%D9%86-1631242527.jpg" 
      style="height: 500px ; width: 800px;"  class="d-block w-100" alt="img3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div>
  <h1>Post title</h1>

  <P>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Sit voluptate magnam quaerat minus quidem, alias repellat 
    accusamus fugit debitis at similique? Dolores officia ipsum 
    perferendis rerum consequatur maxime totam incidunt.
  </P>

  </div>
 
      <img src="https://cdn.nody.ir/files/2021/09/10/nody-%D9%85%D9%86%D8%A7%D8%B8%D8%B1-%D8%B2%DB%8C%D8%A8%D8%A7%DB%8C-%D8%B7%D8%A8%DB%8C%D8%B9%D8%AA-%D8%AC%D9%87%D8%A7%D9%86-1631242527.jpg" 
      style="height: 500px ; width: 800px;"  class="d-block w-100" alt="img3">
   
<div>

    <P>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Sit voluptate magnam quaerat minus quidem, alias repellat 
    accusamus fugit debitis at similique? Dolores officia ipsum 
    perferendis rerum consequatur maxime totam incidunt.
  </P>
  <h2>Subtitle</h2>
    <P>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Sit voluptate magnam quaerat minus quidem, alias repellat 
    accusamus fugit debitis at similique? Dolores officia ipsum 
    perferendis rerum consequatur maxime totam incidunt.
  </P>
    <P>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Sit voluptate magnam quaerat minus quidem, alias repellat 
    accusamus fugit debitis at similique? Dolores officia ipsum 
    perferendis rerum consequatur maxime totam incidunt.
  </P>
</div>    